<div class="container">
    <form [formGroup]="form">
        <div class="form-group">
            <label>UserName</label>
            <input type="text" class="form-control" formControlName="userName">
            <div *ngIf="fb.userName.errors?.required">
                <div class="alert alert-danger" *ngIf="fb.userName.touched && fb.userName.invalid">UserName is required
                    ...</div>
            </div>
            <div *ngIf="fb.userName.errors?.minlength">
                <div class="alert alert-danger" *ngIf="fb.userName.touched && fb.userName.invalid">UserName must be
                    atleast 5 characters ...</div>
            </div>
            <div *ngIf="fb.userName.errors?.nospaceValidator">
                <div class="alert alert-danger" *ngIf="fb.userName.touched && fb.userName.invalid">UserName  cannot contain spaces ...</div>
            </div>
        </div>

        <div class="form-group">
            <label>Password</label>
            <input type="text" class="form-control" formControlName="password">

            <div *ngIf="fb.password.errors?.required">
                <div class="alert alert-danger" *ngIf="fb.password.touched && fb.password.invalid">Password is required
                    ...</div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary"> Submit </button>

    </form>

</div>